.text {
	&-light {
		color: #9e9e9e;
	}
}

.float {
    &-right {
        float: right;
    }
}

.flex {
	display: flex;
	&-content {
		&-center {
			justify-content: center;
		}
		&-between {
			justify-content: space-between;
		}
	}
	&-item {
		&-center {
			align-items: center;
        }
        &-start {
            align-items: flex-start;
        }
    }

    &-column {
        flex-flow: column;
    }
    
    &-wrap {
        flex-wrap: wrap;
    }
}
